  #login-page{
        background-image: url("http://wallpapercave.com/wp/Lqwt2YM.jpg");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 1500px 500px;
        background-color: #DCFEFF;
    }