  <center>
           <p>AP World Assignments</p>
           <ul>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #2</a></li>
               <li><a href= "show.html">Assignment #3</a></li>
           </ul>
           <br><br>
           <p>Chemistry Assignments</p>
           <ul>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #2</a></li>
               <li><a href= "show.html">Assignment #3</a></li>
           </ul>
           <br><br>
           <p>Algebra 2 Assignments</p>
           <ul>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #2</a></li>
               <li><a href= "show.html">Assignment #3</a></li>
           </ul>
           <br><br>
           <p>English 2B Honors Assignments</p>
           <ul>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #1</a></li>
           </ul>
           <br><br>
           <p>Racket Sports Assignments</p>
           <ul>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #2</a></li>
               <li><a href= "show.html">Assignment #3</a></li>
           </ul>
           <br><br>
           <p>AP Chinese Assignments</p>
           <ul>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #2</a></li>
               <li><a href= "show.html">Assignment #3</a></li>
           </ul>
           <br><br>
           <p>Geometry Assignments</p>
           <ul>
               <li><a href= "show.html">Assignment #1</a></li>
               <li><a href= "show.html">Assignment #2</a></li>
               <li><a href= "show.html">Assignment #3</a></li>
           </ul>
           <br><br>
           
           <a href= "index.html">Edit</a>
           <a href= index.html">Delete</a>
               
           <a href= "index.html">Go Back . . .</a>
  </center>