    <center>
        
   <h1>Class Name</h1>
   
   <ul id="assignment-info">
       <li> Assignment Name</li>
       <li> Description</li>
       <li> Due Date</li>
       
   </ul>
    
   </center>
    
    
    
    
          